@use "../../styles/variables" as *;

.tableForm {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem;

  h3 {
    font-weight: 700;
    text-align: center;
    padding-bottom: 16px;
  }

  &__guestInfo, &__dateInfo, &__timeInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ff6600;
    padding: 16px;
    margin-bottom: 16px;

    &-label {
      font-weight: 700;
    }

    &-input {
      height: 36px;
      padding: 0 16px;
      border-radius: 20px;
      border: 1px solid black;

      &:focus {
        outline: 0;
        border: 2px solid blue;
      }
    }

    &-invalidInput {
      border: 1px solid red;
      outline-width: 0;
    }

    &-errorMsg {
      display: none;
      font-size: 13px;
    }

    &-errorMsgInvalidInput {
      color: red;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 6px;
      margin-bottom: 16px;
    }
  }

  &__personalInfo {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: left;

    &-name, &-email, &-phoneNum, &-notes {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
    }

    &-nameLabel, &-emailLabel, &-phoneNumLabel, &-notesLabel {
      padding-bottom: 5px;
    }

    &-nameInp, &-emailInp, &-phoneNumInp, &-notesInp {
      height: 36px;
      padding: 0 16px;
      border-radius: 20px;
      border: 1px solid black;

      &:focus {
        outline: 0;
        border: 2px solid blue;
      }
    }

    &-invalidInput {
      border: 1px solid red;
      outline-width: 0;
    }

    &-errorMsg {
      display: none;
      font-size: 13px;
    }

    &-errorMsgInvalidInput {
      color: red;
      display: flex;
      align-items: center;
      gap: 6px;
      margin-bottom: 16px;
    }
  }

  &__message {
    font-weight: 700;
    margin-bottom: 1.75rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;

    &-cancel, &-confirm {
      background-color: darken($button-color4, 2%);
      border: none;
      padding: 0.75em;
      border-radius: 8px;
      font-weight: bold;
      font-size: 0.9rem;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      width: 40%;

      &:hover {
        background-color: darken($button-color4, 10%);
      }

      &:active {
        transform: scale(1.1);
      }

      &:focus {
        outline: none;
      }
    }

    &-confirm {
      background-color: rgba($button-color2, 0.9);

      &:hover {
        background-color: darken($button-color2, 10%);
      }
    }

    &-cancelIcon, &-confirmIcon {
      position: relative;
      top: 2px;
      margin-left: 0.25rem;
    }
  }
}