.order {

    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    &__container {
        padding-bottom: 10rem;
    }

    &__number {
        margin: 2rem 0 0 5rem
    }

    &__details {
        display: flex;
        margin: 2rem 0 0 5rem;
        padding: 0 0 2rem 0;
    }

    &__details-table {
        margin: 0 10rem 0 0;
    }

    &__table-img, &__time-img {
        height: 2rem; 
        width: 2rem;
        margin-right: 0.75rem;
    }

    &__summary {
        margin: 2rem 0 0 5rem;
    }

    &__items {
        margin: 3rem 5rem 0 5rem;
        display: flex;
        
        flex-direction: column;
    }

    &__items-header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #f8f4fc;
        padding: 1rem 0.5rem 1rem 0.5rem;
        border-top-left-radius: 4px;
        border-top-left-radius: 4px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        border-bottom: 1px solid #cdcdcd;
        background-color: #fffcfc;
    }

    &__button-container {
        display: flex;
	border: none;
	background: #f86404;
	border-radius: 10px;
	width: 10rem;
	padding: 0.5rem;
	justify-content: space-between;
	align-items: center;
	align-content: center;
        text-align: center;
    }

    &__button-right, &__button-left {
        width: 45%;
    }

    &__count {
        width: 25%;
    }

    &__tip {
        display: flex;
        justify-content: space-around;
        margin: 5rem 5rem 0 10rem;
        padding-bottom: 2rem;
        border-bottom: 1px dotted black;
    }

    &__tip-option {
        margin: 0 0 0 1.5rem;
        background-color: #f8f4fc;
        color: #cdcdcd;
        font-size: 2.25rem;
        padding: 0.5rem 1rem 1rem 1rem;
        border-radius: 10px;
    }

    &__bill {
        margin: 5rem 5rem 0 10rem;
        border-bottom: 1px dotted black;
        padding-bottom: 2.5rem;
        
    }

    &__subtotal {
        display: flex;
        justify-content: space-between;
    }

    &__tip-total {
        display: flex;
        justify-content: space-between;;
    }

    &__service-charge {
        display: flex;
        justify-content: space-between;;
    }

    &__total {
        display: flex;
        justify-content: space-between;
        margin: 2.5rem 5rem 0 10rem
    }

    &__total-label, &__total-price {
        font-size: 3rem;
    }

    &__total-label {
        margin: 0 0 0 1.5rem
    }

    &__type {
        margin: 5rem 0 0 10rem;
        font-size: 1.15rem;
    }

    &__type-label {
        font-size: 20rem;
    }

    &__user-form {
        display: flex;
        flex-direction: column;
        margin: 5rem 5rem 0 10rem;
    }

    &__red-font {
        color: red;
    }

    &__delivery {
        margin: 2rem 0 0 10rem;
        font-size: 1.15rem;
    }

    &__delivery-form {
        display: flex;
        flex-direction: column;
        margin: 2rem 5rem 0 10rem;
    }
}

#order__user-name, #order__user-email, #order__user-number, #order__delivery-address {
    padding: 0.5rem 0 0 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    min-height: 2.75rem;
    border-radius: 4px;
    border: 0px;
    border-bottom: solid 1px #c8c4cc;
    background-color: #f8f4fc;
    resize: none;
    outline: none;
}

#order__delivery-notes {
    padding: 0.5rem 0 0 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    min-height: 4.75rem;
    border-radius: 4px;
    border: 0px;
    border-bottom: solid 1px #c8c4cc;
    background-color: #f8f4fc;
    resize: none;
    outline: none;
}

.hide {
	display: none;
}

#minus-btn, #plus-btn {
    padding: 0.07rem 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    font-size: 1.15rem;
    font-weight: 700;
    color: #3a3a3a;
    border: 3px solid #3a3a3a;
}

#count {
    color: white;
    font-size: 2rem;
}

.frame {
    margin: 0 2rem 0 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.frame-hidden {
    margin: 0 2rem 0 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    visibility: hidden;
}