.reservation {
  padding-bottom: 110px;

  &__titleContainer {
    background-color: lightblue;
    padding: 16px;
    text-align: center;
  }

  &__title {
    font-weight: 700;
  }

  &__heroContainer {
    padding-bottom: 10px;

    &-img {
      width: 100%;
    }
  }

  &__content {
    padding-bottom: 10px;
    text-align: center;

    h2 {
      font-weight: 700;
    }

    &-address {
      display: flex;
      justify-content: left;
      padding-bottom: 0.5rem;
      border-bottom: 1px dotted #cdcdcd;

      img {
        margin-left: 5.7rem;
      }
    }
  }
}