// ----- Font Face Declarations -----

@font-face {
    font-family: 'Fondamento';
    src: url("./../assets/fonts/Fondamento/Fondamento-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Fondamento';
    src: url("./../assets/fonts/Fondamento/Fondamento-Italic.ttf") format('truetype');
    font-style: italic;
}