// ----- Global Styles -----

@use "./fonts" as *;


// Global Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fondamento', Helvetica, Arial, Verdana, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
}