// ----- SCSS Variables -----


// --- Colors ---
$primary-light: #ffffff;

$primary-dark: #010101;
$secondary-dark: #000000;

$form-text-color: #21272A;
$form-placeholder-color: #697077;

$primary-theme: #ff6600;

$subtitle-box-color: #237cb8;

$button-color1: #007aff;
$button-color2: #f56606;
$button-color3: #c7e755;
$button-color4: #faf9ff;

$card-color: #ff3c00;
