// ----- ActionButton Styles ----- //

@use "../../../styles/variables" as *;

.action-button {
    //padding: 1rem;
    width: 18%;
    height: 100%;
    background-color: $primary-light;
    border: none;
    padding-top: 20px;
    opacity: 0.6;

    &__icon {
        width: 24px;
        margin-bottom: 3px;
    }
    
    &__title {
        margin-bottom: 4px;
        font-family: 'Arial';
        font-size: 0.75rem;
    }
    
        &--active {
            border-left: 1px solid $primary-dark;
            border-right: 1px solid $primary-dark;
            border-top: 4px solid $primary-theme;
            opacity: 1;
        }
}