@use "../../styles/variables.scss" as *;

.action-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: $primary-light;
    border-top: 1px solid #ccc;
    z-index: 1000;

    display: flex;
    justify-content: center;
    gap: 1.15rem;
}